<!--<app-layout-header></app-layout-header>-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true" routerLink="/dashboard">
      format_list_bulleted
    </mat-icon>

    <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true" routerLink="/average">
      timeline
    </mat-icon>

    <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true" routerLink="/changed">
      track_changes
    </mat-icon>

    <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true" routerLink="/day_info">
      today
    </mat-icon>

    <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true" routerLink="/deleted">
      delete
    </mat-icon>
    <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true" routerLink="/duplicates">
      done_all
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

<!--<app-layout-footer></app-layout-footer>-->


