

<div *ngFor="let item of items">
  <mat-card class="example-card" [routerLink]="['/apartment', item.site_id]" [class.watched]="item.watched" [class.changed]="item.changed">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [style.background-image]="'url(' + item.photo+')'"></div>
      <mat-card-title>{{ item.location_user_address }} [{{ item.number_of_rooms}}-к, {{ item.area_total}}м2]</mat-card-title>
      <mat-card-subtitle>{{ item.date_update | date: 'dd/MM/yy HH:mm' }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ item.price.price_amount | number  }} {{ item.price.price_currency}}
        ({{ item.price.price_per_meter | number }} {{ item.price.price_currency }})
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div class="load-more" >
  <mat-spinner *ngIf="!items"></mat-spinner>
  <button mat-button (click)="loadmore()" [disabled]="isLoading" *ngIf="items">Load more</button>
</div>

